-i https://pypi.org/simple
asgiref==3.6.0 ; python_version >= '3.7'
crispy-bootstrap4==2022.1
django==4.2.1
django-crispy-forms==2.0
pillow==9.5.0
sqlparse==0.4.4 ; python_version >= '3.5'
tzdata==2023.3 ; sys_platform == 'win32'
